---
layout: default
title: Running Log
---
	<h1>{{ page.title }}</h1>

<div class="blurb">
<p>I have a complicated relationship with myself in regards to running. It has long been a part of how I define myself, but also feels out of reach or a dusty relic. A recent medical diagnosis (or rather, confirming a long-standing *misdiagnosis*) has provided a foray into training with focus once again after a number of off years. I would like to document my experience and processes here.</p>
</div><!-- /.blurb -->

{% for category in site.categories %}
  
  <ul class="posts">
    {% for post in category[1] %}
      <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
